.del-button{
    background-color:  #07b564;
    border-radius: 50%;
    border-width: 0px;
    cursor:pointer;
}
.data {
    text-align: center;
    height: 50px;

}

.img {
    height: 30px;
    width: 30px;
}